/* Reset de estilos padrão para todos os elementos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos do tabuleiro do jogo */
.tabuleiro {
  width: 100%;
  height: 400px;
  border-bottom: 50px solid green;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  background: linear-gradient(#63c4eb, #e0f6ff);
}

/* Estilos do cano no jogo */
.cano {
  position: absolute;
  bottom: 0;
  width: 60px;
  /* Animação para o movimento do cano */
  animation: animacoes-cano 1.5s infinite linear;
}

/* Estilos do personagem Mario */
.mario {
  width: 130px;
  position: absolute;
  bottom: 0px;
}

/* Classe para a animação de pulo do Mario */
.pular {
  animation: animacao-mario 500ms ease-out;
}

/* Estilos da imagem da nuvem no fundo */
.nuvem {
  width: 500px;
  position: absolute;
  /* Animação para o movimento da nuvem */
  animation: nuvem 20s infinite linear;
}

/* Estilos da tela de fim de jogo */
.fim-de-jogo {
  visibility: hidden;
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  background-color: rgba(65, 57, 57, 0.363);
}

/* Estilos do botão de reiniciar */
.reiniciar {
  height: 60px;
  width: 350px;
  border-radius: 10px;
  border: none;
  font-size: 20px;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
}

/* Animação para o movimento do cano */
@keyframes animacoes-cano {
  from {
    right: -80px;
  }

  to {
    right: 100%;
  }
}

/* Animação para o pulo do Mario */
@keyframes animacao-mario {
  0% {
    bottom: 0;
  }

  40% {
    bottom: 120px;
  }

  50% {
    bottom: 120px;
  }

  60% {
    bottom: 120px;
  }

  100% {
    bottom: 0px;
  }
}

/* Animação para o movimento da nuvem */
@keyframes nuvem {
  from {
    right: -550px;
  }

  to {
    right: 100%;
  }
}

/* Estilos específicos para telas menores que 620px de largura */
@media (max-width: 620px) {
  .mario {
    width: 110px;
    position: absolute;
    bottom: 0px;
  }

  .cano {
    position: absolute;
    bottom: 0;
    width: 50px;
    /* Animação para o movimento do cano (ajustada para 1 segundo) */
    animation: animacoes-cano 1s infinite linear;
  }
}
